.carousel-item {
  position: relative;
}

.carousel-item::before {
  content: "";
  position: absolute;
  top: -1px;
  left: 4px;
  width: 99%;
  height: 100%;
  border-bottom: 1px solid rgb(255, 0, 0);
  z-index: 1;
}

























.form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.form-page {
  position: relative !important;
  margin-bottom: 20px;
}

.form-image {
  display: block;
  max-width: 100%;
  height: auto;
}

.editable-overlay {
  position: absolute;
  top: 64.1%;
  left: 20.4%;
  width: 182px;
  /* background: #000; */
  height: 30px;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.elembox {
  position: absolute;
  left: 127%;
  display: flex;
  gap: 14px;
}

.editable-overlay span {
  display: flex;
  width: 49px;
  align-items: center;
  justify-content: space-between;
}

.editable-overlay span p {
  background: #fff;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 100;
  font-stretch: 90%;
  /* biroz toraytiradi */
  padding: 0 3px;
  color: #303030;
  font-weight: 300 !important;
  font-size: 20px;
}

.editable-box {
  position: absolute;
  border: 1px solid #333;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 2px 4px;
  font-size: 14px;
  font-family: Arial, sans-serif;
  pointer-events: auto;
  /* Allows editing the input */
  width: 150px;
}

.pdf-btn {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.pdf-btn:hover {
  background-color: #0056b3;
}